@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Michael Kroth
   Date:   3/18/19
	
   Filename: br_styles.css

*/
body > header > img
{
   background-color: rgb(214, 155, 17);
   display: block;
   width: 100%;
   border: 5px solid red;
}

/* Top Navigation Styles */

nav > ul 
{
	display: table-row;
}

nav > ul > li 
{
	display: table-cell;
	text-align: center;
}

nav > ul > li > a 
{
	display: block;
}

nav.top_links 
{
	background-color: rgb(246, 249, 34);
	display: table;
	width: 100%;
}

nav.top_links a 
{
   display: block;
   text-align: center;
   text-decoration: none;
}
   
nav.top_links a:link, nav.top_links:visited 
{
   color: rgb(216, 194, 157);
}

nav.top_links a:hover, nav.top_links:active 
{
   background-color: rgb(62, 56, 45);
}

/* Bottom Navigation Style */
nav.bottom_links 
{
	background-color: rgb(246, 249, 34);
	display: table;
	width: 100%;
}

nav.bottom_links a 
{
   display: block;
   text-align: center;
   text-decoration: none;
}
nav.bottom_links a:link, nav.bottom_links:visited 
{
   color: rgb(216, 194, 157);
}

nav.bottom_links a:hover, nav.bottom_links:active 
{
   background-color: rgb(62, 56, 45);
}

/* Image style */
img
{
	box-shadow: 10px 10px 10px grey;
	border-radius: 30%;
}
.column
{
	filter: saturate(2);
	transform: scaleX(.8);
	float: left;
	width: 25%;
}

/*Address and Listing Info Style */

address, #p4
{
  text-shadow: 2px 2px #c1c1bb;
}
















