/* 
         Final
         Filename: styles
      
         Author:   Michael Kroth
         Date:     04/15/19
         HTML5 and CSS3 Illustrated Final
 */

/*Contacts page styles */
fieldset {
   border: none;
   margin-top:15px;
   margin-bottom: 15px;
   margin-left: 37.5%;
}

#contactContainer{
	background-color: rgb(128, 173, 171);
}

label {
   display: block;
   float: left;
   clear: left;
   font-size: 0.9em;
   margin-right: 10px;
   width: 180px;
   text-align: right;
}

input, select {
   margin-bottom: 10px;
}

textarea{
   display: block;
}

#btnSubmit{
	margin-left: 40%;
}