/* 
         Final
         Filename: styles
      
         Author:   Michael Kroth
         Date:     04/15/19
         HTML5 and CSS3 Illustrated Final
 */

/* reset styles */
html {font-family: 'Ranga', cursive;
   font-size: 14px;
   height:100%;
}
article, aside, body, div, footer, header, h1, h2, h3, nav, p {
   border: 0;
   padding: 0;
   margin: 0;
  font-family: 'Lora', serif;
 
}

/* body and page container */


body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #a58855;
}

p {
   font-size: 1.2em;
}

/* Home page styles */

#Hparagraph{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

#HomeContainer{
	width: 75%;
	margin: auto;
	border-radius: 15px;
	background-color: tan;
}

header{
	overflow: hidden;
}

h1{
	text-align: center;
}

.header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: 25%;
}

#topLinks{
	text-align: center;
}

#topLinks li {
   background-color: rgb(128, 173, 171);
   display: inline;
   font-size: 15px;
   line-height: 30px;
   height: 30px;
   width: 192px;
}

#topLinks a {
   padding: 0 30px;
   display: inline-block;
   text-align: center;
   text-decoration: none;
}
   
nav.horizontal a:link, nav.horizontal:visited {
   color: rgb(216, 194, 157);
}

nav.horizontal a:hover, nav.horizontal:active {
   background-color: rgb(128, 173, 171);
}

.skip {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
}

a.skip:active, a.skip:focus, a.skip:hover {
	left: 0; 
	top: 0;
	width: auto; 
	height: auto; 
	overflow: visible; 
}

footer {
	text-align: center;
	background-color: black;
	color: white;
	margin-top: 10px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media (max-width: 600px) {
  #HomeContainer {   
    flex-direction: column;
  }
}
