/* 
         Final
         Filename: styles
      
         Author:   Michael Kroth
         Date:     04/15/19
         HTML5 and CSS3 Illustrated Final
 */

/*Hours page styles */

h2{
	text-align: center;
}

#colHead1, #colHead2{
	font-size: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  border: 1px solid black;
  table-layout: fixed;
  width: 50%;
  border-collapse: collapse;
}

.evenBlock{
	background-color: #e4e5d0;
}

td, th {
  background-color: #d1d2d3;
  white-space: nowrap;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  border-collapse: collapse;
  position: sticky;
}

#hoursContainer{
	margin-top:5%;
	background-color: rgb(128, 173, 171);
	padding-bottom: 1%;
}

@media (max-width: 600px) {
	table{
		width: 100%;
		overflow-x: auto;
		display: block;
	}
}