/* 
         Final
         Filename: styles
      
         Author:   Michael Kroth
         Date:     04/15/19
         HTML5 and CSS3 Illustrated Final
 */

/*Print styles */

body, #HomeContainer, #hoursContainer,#contactContainer{
	background-color: white;
	color: black;
}

table{
	border: none;
	margin-left: 28%;
}

#hoursContainer{
	text-align: center;
}

nav, img, footer{
	visibility: hidden;
}

::-webkit-scrollbar {
    display: none;
}