@charset "utf-8";

html, body
{
	background-color:#e5e5e5;
	color:black;
	font-size: 16px;
	padding:15px;
	margin:15px;
	font-family: arial, serif;
}

a:link
{
	color:white;
}

a:visited
{
	color:black;
}

a:hover, a:focus
{
	color:pink;
}

#Contacts
{
	border: 1px solid black;
	width: 50%
	margin: 0 auto;
	background-color: red;	
}

ul
{
	display:flex;
	flex-direction: row-reverse;
}
p
{
	border: 1px solid black;
}
ol
{
	border: 1px solid black;
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
}